<!DOCTYPE html>
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<title>hello</title>
</head>
<body>
	<div id="msgBox"></div>
	<script src="https://cdn.bootcss.com/sockjs-client/1.1.4/sockjs.min.js"></script>
	<script src="https://cdn.bootcss.com/stomp.js/2.3.3/stomp.min.js"></script>
	<script>    
		var noticeSocket = function () {    
		  var s = new SockJS('/socket');    
		  var stompClient = Stomp.over(s);    
		  stompClient.connect({}, function () {         
		    console.log('notice socket connected!');
		    stompClient.subscribe('/topic/msg', function (data) {            
		      console.log(data);
		      document.getElementById("msgBox").innerText = data.body;
		    });    
		 });
		};
		noticeSocket();
	</script>
</body>
</html>